
 <!-- Main Content -->
 {% extends 'base.html' %}
 {% load static %}
 {% load humanize %}
 {% block content %}
  <div id="content">
 
     <!-- Begin Page Content -->
     <div class="container-fluid">
 
       <!-- Page Heading -->
       <br>
       <div class="d-sm-flex align-items-center justify-content-between mb-4">
         <h1 class="h3 mb-0 text-gray-800">Hackathon Corona-App</h1>
       </div>
 
       <!-- Content Row -->
       <div class="row">
 
         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-primary shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nuevos Casos</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">{{nuevos|intcomma}}</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
 
         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-success shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recuperados</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">{{totrecuperados|intcomma}}</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-smile fa-2x text-gray-400"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
 
         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-info shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Casos Confirmados</div>
                   <div class="row no-gutters align-items-center">
                     <div class="col-auto">
                       <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{contagiados|intcomma}}</div>
                     </div>
                   </div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-users fa-2x text-gray-400"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div>
           
         </div>
 
         <!-- Pending Requests Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-danger shadow h-100 py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Fallecidos</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">{{totfallecidos|intcomma}}</div>
                 </div>
                 
                 <div class="col-auto">
                   <i class="fas fa-frown fa-2x text-gray-300"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
 
       <!-- Content Row -->
 
       <div class="row">
         <!-- Area Chart -->
         <!-- <div class="col-xl-12 col-lg-12">
           <div class="card shadow mb-4">
             Card Header - Dropdown -->
             <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
               <h6 class="m-0 font-weight-bold text-primary">Analisis Covid-19</h6>
               <div class="dropdown no-arrow">
                 <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                 </a>
                 <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                   <div class="dropdown-header">Dropdown Header:</div>
                   <a class="dropdown-item" href="#">Action</a>
                   <a class="dropdown-item" href="#">Another action</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Something else here</a>
                 </div>
               </div>
             </div>
             Card Body -->
             <!-- <div class="card-body">
               <div class="chart-area">
                 <canvas id="myAreaChart"></canvas>
               </div>
             </div>
           </div>
         </div> -->


         <div class="col-xl-12 col-lg-12">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Analisis Covid-19</h6><h6 class="m-0 font-weight-bold text-primary">Analisis Covid-19</h6>
              {% comment %}<div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                   <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a> 
                </div>
              </div>{% endcomment %}
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myChart" id="myAreaChart" style="height: 200vh;"></canvas>
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script type="text/javascript">
                  $.get('{% url "line_chart_json" %}', function (data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    new Chart(ctx, {
                      type: 'line',
                      data: data,
                      backgroundColor:"rgba(78,115, 223, 0.05)",
                      borderColor:"rgba(78, 115, 223,1)",
                      options: {
                        maintainAspectRatio: false,
                        legend: {
                          display: true,
                          labels: {
                            fontColor: '#7E818C',
                            boxWidth: 12
                          }
                        },
                        tooltips: {
                          displayColors: false
                        },
                        scales: {
                          xAxes: [{
                            ticks: {
                              beginAtZero: false,
                              fontColor: '#88EE4E'
                            },
                            gridLines: {
                            color:"rgb(234,236,244)",
                            zeroLineColor:"rgb(234, 236,244)",
                            drawBorder:false,
                            drawTicks:false,
                            borderDash: ["2"],
                            zeroLineBorderDash:["2"],
                            drawOnChartArea:false},
                            ticks:{
                              fontColor:"#858796",
                              padding:20},
                          }],
                          yAxes: [{
                            ticks: {
                                fontColor:"#858796",
                                padding:20},
                            gridLines: {
                              display: true,
                              color:"rgb(234,236,244)",
                              zeroLineColor: "rgb(234,236,244)",
                                drawBorder:false,
                                drawTicks:false,
                                borderDash:["2"],
                                zeroLineBorderDash:["2"]
                            },
                          }]
                        }
        
                      }
                    });
        
                  });
        
                </script>
              </div>
            </div>
          </div>
        </div>








          
         
         
      
         
         


         <!-- Pie Chart -->
         <div class="col-xl-4 col-lg-5">
           <div class="card shadow mb-4">
             <!-- Card Body -->
           </div>
         </div>
       </div>
     </div>
     {% comment %} <canvas id="canvas" style="display: block; width: 334px; height: 167px;" width="334" height="167" class="chartjs-render-monitor"></canvas> {% endcomment %}
     <canvas id="densityChart" width="300" height="150"></canvas>
   </div>

<script>
var densityCanvas = document.getElementById("densityChart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var densityData = {
  label: 'Comuna con mas Contagios',
  data: [9143, 7786, 6031, 5552, 5273, 4358, 3955, 3887],
  backgroundColor: [
    'rgba(0, 99, 132, 0.6)',
    'rgba(30, 99, 132, 0.6)',
    'rgba(60, 99, 132, 0.6)',
    'rgba(90, 99, 132, 0.6)',
    'rgba(120, 99, 132, 0.6)',
    'rgba(150, 99, 132, 0.6)',
    'rgba(180, 99, 132, 0.6)',
    'rgba(210, 99, 132, 0.6)',
    'rgba(240, 99, 132, 0.6)'
  ],
  borderColor: [
    'rgba(0, 99, 132, 1)',
    'rgba(30, 99, 132, 1)',
    'rgba(60, 99, 132, 1)',
    'rgba(90, 99, 132, 1)',
    'rgba(120, 99, 132, 1)',
    'rgba(150, 99, 132, 1)',
    'rgba(180, 99, 132, 1)',
    'rgba(210, 99, 132, 1)',
    'rgba(240, 99, 132, 1)'
  ],
  borderWidth: 2,
  hoverBorderWidth: 0
};

var chartOptions = {
  scales: {
    yAxes: [{
      barPercentage: 0.5
    }]
  },
  elements: {
    rectangle: {
      borderSkipped: 'left',
    }
  }
};

var barChart = new Chart(densityCanvas, {
  type: 'horizontalBar',
  data: {
    labels: ["Puente Alto", "Santiago", "La Florida", "Penalolen", "Maipu", "Recoleta", "La Pintana", "Quilicura"],
    datasets: [densityData],
  },
  options: chartOptions
});
</script>
 {% endblock %}
