<!-- Main Content -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
<button onclick="showArticulos()">Articulos</button>
    <button onclick="showResidencias()">Residencias</button>
    <button onclick="showMap()">Seguimiento</button>
</div>
<div id="map" style="width: 100%; height: 100%"></div>
<iframe id="mapa" style="display: none;width: 100%; height: 100%" src="https://studio.here.com/viewer/?project_id=a42b44a2-e8de-42cd-8778-0b4615fcdf5a" frameborder="0"></iframe>

<script>window.onload = function () {
    initMap();
    initGps();
    map.addObject(articulos);
    addInfoBubble(map, articulos);
    addInfoBubble(map, residencia);
}
</script>
{% endblock %}